@import "_reset.scss";

body, html {
  width: 100%;
  height: 100vh;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  padding-top: 70px;
  font-size: 12px !important;
}

.panel {
  .panel-heading {
    position: relative;
    .panel-title {
      font-size: 13px;
    }
    .panel-tools {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 3px;
      padding-right: 10px;
      line-height: 27px;
      & > * {
        margin-left: 5px;
      }
    }
  }
}

.btn {
  .glyphicon {
    margin-right: 5px;
  }
}

form {
  .form-group {
    margin-top: 15px;
    label {
      margin-bottom: 7px;
      font-size: 13px;
      font-weight: bold;
    }
  }
}

.page.page-index {
  min-width: 560px;
  .container .panel-statistics {
    table {
      margin: 0;
      width: 100%;
      th {
        width: 75%;
      }
      td {
        width: 25%;
        text-align: right;
      }
    }
    .label {
      font-size: 12px;
    }
  }
  .container .panel-table {
    .proxy-table {
      margin: 0;
      tr, th {
        img {
          display: inline-block;
          vertical-align: middle;
          height: 23px;
        }
      }
      th {
        font-weight: bold;
        text-align: center;
        font-size: 13px;
      }
      td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .label {
          font-size: 11px;
          .glyphicon {
            top: 2px;
          }
        }
      }
    }
    nav {
      text-align: center;
    }
    .filters {
      padding: 0 15px;
      background: #f9f9f9;
      margin-bottom: 15px;
      .filters-buttons {
        padding: 15px 0;
        float: right;
      }
    }
  }
}